.section_title{
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.real_estate_button_header{
    display: flex;
    margin: 50px;
    width: 20%;
}

.real_estate_button_header .Dropdown-control{
    min-width: 175px;
}

.real_estate_button_header .btn{
    margin-left: 15px;
}

.content-right-wrapper, .content-right-wrapper2{
    width: 90%;
    margin: 0 auto;
}

.btn-group{
    float: right;
}

.situation_form_wrapper{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.situation_form_proposition{
    display: flex;
    flex-direction: column;
}

.situation_form_proposition h4{
    text-align: center;
}

.situation_form_proposition .situation_form_slider{
    margin: 0 auto;
    margin-top: 10px;
}

.add_apartment_wrapper{
    margin-top: 100px;
}

.glyphicon_cursor{
    cursor: pointer;
    float: right;
    margin-right: 20px;
}

.emptyListObject{
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 0 0 10px 10px;
    padding-left: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.situation_form_wrapper2{
    display: flex;
}

.cards_wrapper{
    width: 95%;
    display: flex;
    margin: 20px auto 0;
}

.card_wrapper a:hover{
    text-decoration: none;
}

.cards_wrapper .default_card{
    margin: 50px auto 0;
    opacity: 0.4;
}

.default_card h4{
    text-align: center;
}

.cards_wrapper .card_wrapper:hover{
    opacity: 0.5;
    text-decoration: none;
}

.card_wrapper{
    width: 280px;
    height: 350px;
    box-shadow: 3px 3px 3px grey;
    margin: 20px;
}

.card_picture{
    width: 100%;
    height: 150px;
}

.card_picture img{
    width: 100%;
    height: 150px;
}

.card_header h4{
    text-align: center;
    margin: 10px;
}

#dashboard_graphs{
    display: flex;
    margin-top: 50px;
}

.dashboard_wrapper{
    display: flex;
    width: 100%;
}

.event_table_wrapper{
    width: 100%;
    margin: 20px;
}

.dashboard_wrapper .event_table{
    width: 75%;
    margin: 0 auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.dashboard_wrapper .event_table td, .dashboard_wrapper .event_table th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#dashboard_graphs .recharts-wrapper{
    margin: 0 auto;
}

.object_list_wrapper{
    width: 80%;
    margin: 20px auto 0;
}

.object_to_add{
    height: 50px;
    line-height: 50px;
    border-top: 1px solid black;
    padding-left: 15px;
}

.object_to_add_wrapper{
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 0 0 10px 10px;
}

/* ADD APARTMENT */

.add_object_apartment_wrapper{
    position: relative;
    width: 70%;
    margin: 50px auto 0;
    box-shadow: 3px 3px 3px 3px grey;
    border-radius: 0 0 10px 10px;
}

.add_object_apartment_header{
    background-color: #2A3F52;
    height: 40px;
}

.add_object_apartment_header h4{
    line-height: 40px;
    color: white;
    margin: 0 0 0 20px;
}

.situation_form_wrapper_button{
    position: absolute;
    bottom: 0;
    right: 0;
}

.situation_form_wrapper_button button{
    margin: 10px;
}

.add_object_button_wrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.add_object_button_wrapper button{
    margin: 10px;
}

.description_form_wrapper{
    display: flex;
    width: 100%;
}

.description_form_wrapper_left{
    width: 20%;
    min-width: 200px;
    padding: 30px;
}

.description_form_wrapper_right{
    width: 75%;
    margin: 0 auto;
    padding: 30px;
    border-left: 1px solid grey;
}

.description_form_wrapper_charges{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.description_form_wrapper_formgroup{
    display: flex;
}

.description_form_wrapper_formgroup .form-control, .description_form_wrapper_formgroup .control-label, .description_form_wrapper_formgroup .select_form{
    margin-left: 50px;
}

.float_form_size .form-control{
    width: 150px;
}

.select_form{
    display: block;
    margin: 0 auto;
}

.text_form_size .form-control{
    width: 190px;
}

.description_form_wrapper_charges_part{
    width: 33%;
}

.select_form{
    text-align: center;
    cursor: pointer;
    height: 35px;
    margin-right: 0;
}