/* PAGE D'OFFRE COMMERCIALE */

.account_offers_wrapper{
    width: 100%;
}

.account_offers_wrapper h4{
    text-align: center;
}

#card_wrapper{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.card{
    border-radius: 10px;
    background-color: antiquewhite;
    width: 25%;
    margin: auto;
    text-align: center;
    height: 250px;
}

.card_header{
    border-bottom: 1px solid grey;
}

.card_content{
    border-bottom: 1px solid grey;
}

/* Table */
.invoice_table{
    width: 80%;
    margin: 30px auto;
}


/* PRICING PLAN */
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.pricing_offer_wrapper{
    margin: 100px 50px 50px;
}

.pricing_offer_wrapper h2{
    text-align: center;
}
.background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
}

.background::after {
    content: '';
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media (min-width: 900px) {
    .background {
        padding: 0 0 25px;
    }
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.panel {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    width: 100%;
    z-index: 9;
}

.pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .pricing-table {
        flex-direction: row;
    }
}

.pricing-table * {
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 15px;
}

.pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        flex-basis: 100%;
        padding: 25px 25px 0;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;

}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

.pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
    margin: 30px 0 25px;
}

.pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016FF9;
    display: block;
    font-size: 22px;
    font-weight: 300;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #e1f1ff;
}

.pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
    background-color: #269aff;
}

/* Photo explanation services */
.service_explanation_wrapper{
    width: 100%;
    height: 450px;
    margin-top: 50px;
}

.service_explanation_photo_wrapper{
    width: 100%;
    display: flex;
    height: 325px;
    min-height: 325px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.service_explanation_photo{
    width: 100%;
    min-height: 325px;
    color: white;
    font-weight: 900;
    position: relative;
}

.service_explanation_photo_object_1{
    width: 100%;
    box-shadow: 5px 5px 5px 5px grey;
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ), url("../../img/rawpixel-550994-unsplash.jpg") no-repeat;
    background-size: cover;
}

.service_explanation_photo_object_2{
    width: 100%;
    box-shadow: 5px 5px 5px 5px grey;
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ), url("../../img/isaac-smith-1224592-unsplash.jpg") no-repeat;
    background-size: cover;
}

.service_explanation_photo_object_3{
    width: 100%;
    box-shadow: 5px 5px 5px 5px grey;
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ), url("../../img/aron-visuals-322314-unsplash.jpg") no-repeat;
    background-size: cover;
}

.service_explanation_photo a{
    color:white;
    display: block;
    width: 100%;
    height: 100%;
}

.service_explanation_photo a:hover{
    color:black;
}

.service_explanation_photo_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index_page_wrapper{
    background-color: #F8F8F8;
}

.philosophy_wrapper{
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #e7e6e6;
    padding: 50px;
}

.philosophy_text_wrapper{
    width: 35%;
}

/* Three step : How it works */
.three_step_wrapper{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    background-size: 50% auto;
    background: url("../../img/block-3-e668.png") no-repeat 100% 100%;
}

.three_step_wrapper h2{
    text-align: center;
}

.step_wrapper_content{
    display: flex;
    height: 100%;
    text-align: center;
}

.step_wrapper{
    width: 100%;
}